@font-face {
  font-family: "caravan";
  src: url("/fonts/caravan-150-aaa.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "frank-re";
  src: url("/fonts/frank-re-regular-aaa.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
